
/*------------------

font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;

----------------------*/


.chocolate-intro {
  opacity: 1;
  background-image: url(../img/milk-cookies.jpg);
  background-size: cover;
  height: 45rem;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: auto;

}



.sugar-intro {
  opacity: 1;
  background-image: url(../img-f/dec-cookies.png);
  background-size: cover;
  height: 45rem;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: auto;

}

.pb-intro {
  opacity: 1;
  background-image: url(../img/gourmet-cookies.jpg);
  background-size: cover;
  height: 45rem;
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: auto;

}

.chocolate-rec-1 {
  opacity: 1;
  background-image: url(../img/rees-cookies.jpg);
  background-size: cover;
  height: 15rem;
  width: 100%;


}


.sugar-rec-1 {
  opacity: 1;
  background-image: url(../img-f/sugar-cookie.jpg);
  background-size: cover;
  height: 15rem;
  width: auto;


}

.chocolate-rec-2 {
  opacity: 1;
  background-image: url(../img/venita.jpg);
  background-size: cover;
  height: 15rem;
  width: auto;


}

.chocolate-rec-3 {
  opacity: 1;
  background-image: url(../img-f/blue-berrybanner.png);
  background-size: cover;
  height: 15rem;
  width: auto;


}



.recipe-header {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin-top: auto;



}

.recipe-body {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8rem;
  margin-bottom: 2rem;



}

.recipe-container {


  margin-top: 10rem;


}
