.chocolate-intro {
  opacity: 1;
  background-image: url(../img/milk-cookies.jpg);
  background-size: cover;
  height: 35rem;
  width: auto;


}


.chocolate-rec-1 {
  opacity: 1;
  background-image: url(../img/blue-berrybanner.jpg);
  background-size: cover;
  height: 35rem;
  width: auto;


}
