body {

background-color: #ffffff ;

}

/*------------------

font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;

----------------------*/


.overlay-button {

  margin-top: 2rem;
  font-size: 2.2rem;
  margin-right: 0.5rem;
}

.nav-style {

  background-color: rgba(255, 215, 0, 0.9);
  height: 8rem;
  border-bottom: 2px transparent #cccccc;

}

.logo-style {

  font-size: 1.5rem;
  margin-top: 2.2rem;
  margin-left: 1.5rem;
  font-family: 'Playfair Display', serif;
  text-decoration: none;

}

.nav .logo-btn-link, a {

    text-decoration: none;;

}

.close-index {

  z-index: 9000;
}


.coffee-intro {

  background-image: url(../img/coffee-cookie.jpg);
  background-size: cover;
  height: 65rem;
  width: 100%;
}

.banner-text {

    margin-top: 14rem;
    font-family: 'Oswald', sans-serif;

}

.banner-copy {

    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Playfair Display', serif;

}

.nav-link-style {

  margin-top: 1rem;
  font-size: 5rem !important;
  font-family: 'Oswald', sans-serif;

 }

.nav-social-links {

  margin-top: 4rem;
  font-size: 5rem !important;

 }

 .cookie-styles {

   margin-top: 1rem !important;
   margin-bottom: 1rem;
   width: auto;
   height: 15rem;

 }

 .scroll-down-text {

  font-family: 'Oswald', sans-serif;
  font-size: 2rem;

 }

.cookie-quote-spacing {

  height: inherit;
  padding-top: 7rem;
  padding-bottom: 7rem;
  /*margin-top: 4rem;*/

 }

.img-size-style-1 {

    height: 16rem;
    background-image: url(../img/boss-cup.jpg);
    background-size: cover;
    width: 100%;

}

.img-size-style-2 {

    height: 16rem;
    background-image: url(../img/baking-2.jpg);
    background-size: cover;
    width: 100%;

}

.img-size-style-3 {

    height: 16rem;
    background-image: url(../img/coffee-beauty.jpg);
    background-size: cover;
    width: 100%;

}

.company-intro-sect {

      margin-top: 4rem;

}

.strong-intro {

   font-size: 2rem;
   margin-bottom: 2rem;
   margin-top: 2rem;
   font-family: 'Oswald', sans-serif;

 }

.body-intro {

  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;

}

 .cookie-quotes {

   height: inherit;
   font-family: 'Oswald', sans-serif;
   font-size: 3.2rem;
   /*padding-bottom: 1rem;*/
   /*padding-top: 1rem;*/

 }

.celebrity-styles {

   font-size: 1.5rem;
   font-family: 'Playfair Display', serif;
   margin-top: 1.2rem;

}

 .company-cookie-text {
      font-size: 2.9rem;
      font-family: 'Oswald', sans-serif;
      margin-top: 4rem;
 }

.carousel-indicators {

  top: 16rem;
}

 .cookie-img-doors-1 {
   opacity: 1;
   background-image: url(../img-f/coffee-cookie.png);
   background-size: cover;
   height: 35rem;
   width: auto;
   text-decoration: none;
   opacity: 1;
   transition-duration: 1s;
 }


#hover-link-style {

    text-decoration: none;

}

.cookie-img-doors-text {
  opacity: 1;
  padding-top: 3rem;
  width: auto;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  transition-duration: 1s;

}

.cookie-img-doors-text:hover {
  opacity: 1;
  padding-top: 6rem;
  width: auto;
  font-size: 5rem;
  font-family: 'Playfair Display', serif;
  transition-duration: 1s;

}

 .cookie-img-doors-mini {
   opacity: 0;
   padding-top: 3rem;
   width: auto;
   font-size: 5rem;
   font-family: 'Playfair Display', serif;
   /*transition-duration: 0*/

 }

 .cookie-img-doors-mini:hover {
   opacity: 1;
   padding-top: 3rem;
   width: auto;
   font-size: 5rem;
   font-family: 'Playfair Display', serif;
   /*transition-duration: 0*/
   transition: 0.3s;
 }

 .body-door-text {
   padding-top: 1rem;
   opacity: 0;
   transition: 1s;
   font-family: 'Oswald', sans-serif;

}

 .body-door-text:hover {

   padding-top: 3rem;
   opacity: 1;
   transition: 0.7s;
   transition-duration: 1s;
   font-family: 'Oswald', sans-serif;

 }

 .cookie-img-doors-2 {
   opacity: 1;
   background-image: url(../img-f/dec-cookies.png);
   background-size: cover;
   height: 35rem;
   width: auto;
}

 .cookie-img-doors-3 {
   opacity: 1;
   background-image: url(../img-f/gourmet-cookies.png);
   background-size: cover;
   height: 35rem;
   width: auto;

 }


 /*----

 column 3 recipes things
 ------------------------------------------------------*/

 .cookie-img-doors-4 {
   opacity: 1;
   background-image: url(../img/second-heart-banner.jpg);
   background-size: cover;
   height: 20rem;
   width: auto;

 }
 .cookie-img-doors-5 {
   opacity: 1;
   background-image: url(../img-f/coffee-art.png);
   background-size: cover;
   height: 20rem;
   width: auto;

 }

 .cookie-img-doors-6 {
   opacity: 1;
   background-image: url(../img-f/melted-berry.png);  background-size: cover;
   height: 20rem;
   width: auto;

 }
 .cookie-img-doors-7 {
   opacity: 1;
   background-image: url(../img-f/blue-berrybanner.png);
   background-size: cover;
   height: 20rem;
   width: auto;

 }
 .cookie-img-doors-8 {
   opacity: 1;
   background-image: url(../img-f/dec-cookies.png);
   background-size: cover;
   height: 20rem;
   width: auto;

 }
 .cookie-img-doors-9 {
   opacity: 1;
   background-image: url(../img-f/cup-cakes.png);
   background-size: cover;
   height: 20rem;
   width: auto;

 }

.footer-spacing-styles {
  height: inherit;
}


 .footer-text-styles {
    font-family: 'Josefin Sans', sans-serif;
   /*font-family: 'Playfair Display', serif;*/
   font-size: 1.5rem;
   padding-top: 2rem;
   padding-bottom: 2rem;

 }
